*.safetensors
Tudo-Virus/
IEDB/Virus-Retrovirus/*.csv
*.json
*.png
*.pt
*.bin
# Ignorar completamente a pasta artefatos
**/artefatos/

# Ignorar completamente a pasta wandb
wandb/


# Ignorar completamente a pasta artefatos
artefatos/

# Ignorar completamente a pasta wandb
**/wandb/
